
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" style="color:white;">Les Produits Cosmetics</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" (click)="onAdd('add')">Ajouter Produit <span class="sr-only">(current)</span></a>
         </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="searchProduit(key.value)" #key="ngModel" ngModel
          name="key" id="searchName" class="form-control mr-sm-2" placeholder="Rechercher produit..." required>
      </form>
      <a class="nav-link logout-button text-white" (click)="logout()">Se déconnecter</a>

   </div>
 </nav>
 <div  class="container">

 <div class="container" id="main-container">
 <div class="row">
    <div *ngFor="let produit of Produit" class="col-md-6 col-xl-4">
      <div class="card m-b-30" (click)="showProductDetails(produit)" data-toggle="modal" data-target="#productModal" >
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <a href=""><img src="{{produit?.iconproduit}}" alt="" class="img-fluid rounded-circle"></a>
            </div>
            <div class="col-8">
              <h5 class="mb-4" style="white-space: nowrap;">{{produit.title}}</h5>
              <p class="m-0">{{produit.prix}}€</p>
            </div>
          </div>
        </div>
        <div class="card-body">
         <div class="float-right btn-group btn-group-sm">
           <a (click)="onOpenModal(produit, 'edit'); $event.stopPropagation()" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
           <a (click)="onOpenModal(produit, 'delete'); $event.stopPropagation()" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
         </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fenêtre modale pour afficher les détails du produit -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productModalLabel">Détails du Produit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <img src="{{ selectedProduct?.iconproduit }}" class="img-fluid" alt="{{ selectedProduct?.title }}">
            </div>
            <div class="col-md-8">
              <h5>{{ selectedProduct?.title }}</h5>
              <p>Description: {{ selectedProduct?.description }}</p>
              <p>Prix: {{ selectedProduct?.prix }}€</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
 <!-- Add Employee Modal -->
 
 <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="addEmployeeModalLabel">Ajouter Produit</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #addForm="ngForm" (ngSubmit)="onAddProduit(addForm)">
           <div class="form-group">
              <label for="title">Title</label>
              <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
           </div>
           <div class="form-group">
              <label for="description">Description</label>
              <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Description" required>
           </div>
           <div class="form-group">
              <label for="prix">Prix</label>
              <input type="text" ngModel name="prix" class="form-control" id="prix" placeholder="Job title" required>
           </div>
           <div class="form-group">
              <label for="iconproduit">Image URL</label>
              <input type="text" ngModel name="iconproduit" class="form-control" id="iconproduit" placeholder="Image URL" required>
           </div>
           <div class="modal-footer">
              <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
           </div>
           </form>
        </div>
     </div>
   </div>
   </div>
  <!-- Edit Modal -->
 
 <!-- Delete Modal -->
<!-- Edit Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateEmployeeModalLabel">Modifier Produit {{editproduit.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" ngModel="{{editproduit.title}}" name="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Name">
               </div>
               <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" ngModel="{{editproduit.description}}" name="description" class="form-control" id="description" placeholder="Description">
               </div>
               <div class="form-group">
                  <label for="prix">Prix</label>
                  <input type="text" ngModel="{{editproduit.prix}}" name="prix" class="form-control" id="prix" placeholder="Prix">
               </div>
               <div class="form-group">
                  <label for="iconproduit">Image URL</label>
                  <input type="text" ngModel="{{editproduit.iconproduit}}" name="iconproduit" class="form-control" id="iconproduit" placeholder="Image URL">
               </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="onUpdateProduit(editproduit.id,editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
 </div>
 <!-- Delete Modal -->
 <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Supprimer Produit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete product {{deleteProduit.title}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
               <button (click)="onDeleteProduit(deleteProduit.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
         </div>
      </div>
   </div>
 </div>
 </div>